*.py[cod]
.idea/*
.vs/
.vscode
.ipynb_checkpoints/*
scripts/.ipynb_checkpoints/*
dump.rdb
/data/*
/logs/*
app/static/src/images/uploads/*
app/static/node_modules/*
app/static/dev/*
app/static/build/*
app/uploads/*
Information_Retrieval/data/*
Information_Retrieval/temp/*
Information_Retrieval/embeddings/*
Information_Retrieval/dev_triplet_embeddings/*
Information_Retrieval/train_triplet_embeddings/*
Information_Retrieval/data/*
